.footer {
  margin-top: 20px;
  padding: 20px;
  display: grid;
  background-color: #ff382a;
  grid-template-columns: repeat(3, 1fr);
}
.footer-item {
  color: white;
  text-align: center;
}
.footer-item p {
  cursor: pointer;
}
.footer-item {
  border-right: 2px solid white;
}
.footer-item:last-child {
  border: 0;
}
